#calculator {
    display: flex;
    justify-content: center;
    color: black;
}
#calculator .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20em;
    margin: 2em;
    color: black;
}
    #calculator h1 {
        background-color: #FAD23A
    }
