body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    /*max-width: 1024px;*/
    color: #f5f6f7;
    margin: 0 auto;
   /* display: flex;
    flex-direction: column;
    align-items: center;*/
}
h3 {
    font-size: 1.5em;
    color:black;
} 
h5{
    font-size:1.5em;
}

p {
    font-size: 0.6em;
}

.margin {
    margin-bottom: 45px;
}
.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*cytat*/
.bg-3 {
    /*display:flex;*/
    padding: 1em;
}
.bg-3 .color-box {

    background-color: #E9963A;
}

.bg-3 p {
    font-size: 0.6em;
    color: black;
}

.container-fluid {
    /*max-width:1024px;*/
    padding-top: 0;
    padding-bottom: 0;
}
.container-fluid p {
    color:black;
}
.container-fluid div {
        color: black;
}
.bg-4 {
    width: 100%;
    background-color:#FFF6FB;
}

/*nawigacja*/
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #FFF6FB;
}

.navbar-nav li:hover {
    color: black;
    background-color: #FAD23A;
}
.dropdown-menu a:hover {
    color: black;
    background-color: #FAD23A;
}
/*baner*/
.logo {
    height: 5em;
    width: 5em;
    background-image: url("images\unnamed.png");
    background-position: center;
}
/*first container*/



.question_text {
    padding: 0.5em;
    background-color: #FAD23A;
    text-transform: uppercase;
    font-size: 3.75em;
    font-weight: 200;
    text-align: left;
}
.answer{
    display:flex;
}
.answer_text {
    background-image: url('images\IMG-0084.jpg'); 
    /*padding-right: 2em;*/
    font-size: 1.75em;
    font-weight: 100;
    text-align: left;
    list-style: none;
    color: black;
}
/*.bg-1-photo::before {
    content: ' ';
    background-color: #FAD23A;
    display: block;
    width: 10em;
    height: 10em;
    right: -10px;
    top: -30px;
}*/
.bg-1-photo {
    width: 30em;
    height: auto;
    /*position: relative;
    z-index: 2;*/
}

/*second container*/
.cooking_text{
    font-size: 1em;
    color:black;
}

/*O mnie*/
.info__single {
    display: flex;
    margin: 0 auto;
}

.info__title {
    font-size: 2em;
    color: black;
}
.info__description {
    font-size: 0.8em;
    color: black;
}
.info__image{
    width: 23em;
    height: 30em;
    
}
.background {
    background-color: #FAD23A;
    width: 23em;
    height: 30em;
    position: relative;
    left: -30px;
    top: 200px;
}




