/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');*/
@import "about.css";
@import 'nav.css';
@import 'footer.css';
@import 'calculator.css';
@import 'kontakt.css';
@import 'sniadanie.css';
@import 'kolacja.css';
@import 'obiad.css';

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8; 
    color: #f5f6f7;
    margin: 0 auto;
}
h3 {
    font-size: 1.5em;
    color:black;
} 
h5{
    font-size:1.5em;
}

p {
    font-size: 0.6em;
}

.margin {
    margin-bottom: 45px;
}
.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.container-fluid {
    padding-top: 0;
    padding-bottom: 0;
}
.container-fluid p {
    color:black;
}
.container-fluid div {
        color: black;
}

/*first container*/

.bg-1{
    max-width:1024px;
}

.question_text {
    max-width:1024px;
    padding: 0.1em;
    background-color: #FAD23A;
    text-transform: uppercase;
    font-size: 3.75em;
    font-weight: 400;
    text-align: left;
}
.answer{
    display:flex;
}
.answer_text {
    font-size: 1.75em;
    font-weight: 100;
    text-align: left;
    list-style: none;
    color: black;
}

.bg-1-photo {
    width: 30em;
    height: auto;
    position: relative;
    z-index: 2;
}
/*second container*/
.bg-2 {
    max-width: 1024px;
    background-color: #FFFFAB;
    margin-top: 5em;
    margin-bottom: 5em;
    background-image: url("../images/IMG-0084.jpg");
    opacity: 0.9;
    height: 30em;
    font-weight: 800;
}
.left-side  h3 {
    font-size: 3em;
    color: black;
    font-weight: 800;
}
.cooking_text{
    font-size: 2em;
    color:black;
}
/*galeria*/
.gallery{
    max-width:1024px;
    
}
/*cytat*/
.bg-3 {
    margin-top: 5em;
    margin-bottom: 5em;
    max-width: 1024px;
    background-color: #FAD23A;
}

.bg-3 p {
        font-size: 0.9em;
        color: black;
    }
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: contain;
}

