@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8; 
    color: #f5f6f7;
    margin: 0 auto;
}
h3 {
    font-size: 1.5em;
    color:black;
} 
h5{
    font-size:1.5em;
}

p {
    font-size: 0.6em;
}

.margin {
    margin-bottom: 45px;
}
.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.container-fluid {
    /*max-width:1024px;*/
    padding-top: 0;
    padding-bottom: 0;
}
.container-fluid p {
    color:black;
}
.container-fluid div {
        color: black;
}


/*nawigacja*/
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #FFF6FB;
}

.navbar-nav li:hover {
    color: black;
    background-color: #FAD23A;
}
.dropdown-menu a:hover {
    color: black;
    background-color: #FAD23A;
}
/*baner*/
.baner .baner_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: red;
    background: url('../images/baner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.baner .logo {
    width: 15em;
    height: 15em;
}
/*first container*/

.bg-1{
    max-width:1024px;
}

.question_text {
    max-width:1024px;
    padding: 0.1em;
    background-color: #FAD23A;
    text-transform: uppercase;
    font-size: 3.75em;
    font-weight: 400;
    text-align: left;
}
.answer{
    display:flex;
}
.answer_text {
    /*background-image: url('../images/IMG-0084.jpg');*/ 
    /*padding-right: 2em;*/
    font-size: 1.75em;
    font-weight: 100;
    text-align: left;
    list-style: none;
    color: black;
}


/*.bg-1::before {
    content: '';
    background-color: #FAD23A;
    width: 10em;
    height: 10em;
    display: block;
    position: absolute;
    right: 34em;
    top: 55em;
}*/
.bg-1-photo {
    width: 30em;
    height: auto;
    position: relative;
    z-index: 2;
}
/*second container*/
.bg-2 {
    max-width: 1024px;
    background-color: #FFFFAB;
    margin-top: 5em;
    margin-bottom:5em;
}
.cooking_text{
    font-size: 1em;
    color:black;
}
/*galeria*/
.gallery{
    max-width:1024px;
    
}
/*cytat*/
.bg-3 {
    margin-top: 5em;
    margin-bottom: 5em;
    max-width: 1024px;
    background-color: #FAD23A;
}


    .bg-3 p {
        font-size: 0.6em;
        color: black;
    }
/*footer*/
.bg-4 {
    width: 100%;
    /*background-color: #FFF6FB;*/
}
footer {
    box-shadow: 0 -5px 40px #00000029;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 4em;
}

.footer .left-side{
    display: flex;
   

}
.footer .left-side p {
    font-size: 1.5em;
}
.footer .left-side .logo {
        height: 35px;
        width: 35px;
    }

.icons {
    display: flex;
    justify-content: space-evenly;
}
/*O mnie*/
.info__single {
    /*margin-top: 2em;*/
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1024px;
}
.info-text{
    padding: 0.5em;
}
.info__title {
    margin-top: 1em;
    font-size: 2em;
    color: black;
}
.info__description {
    padding-right: 1em;
    font-size: 0.8em;
    color: black;
}
.info__image {
    margin-top: 2em;
    background-color: #FAD23A;
    /*width: 23em;
    height: 30em;*/
    padding-top: 2.5em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 5em;
}
.portret {
    width: 23em;
    height: 30em;
}
/*.background {
    background-color: #FAD23A;
    width: 23em;
    height: 30em;
    position: relative;
    left: -30px;
    top: 200px;
}*/




